/* MODIFICATION OF THE BODY OF THE CURICULUM VITAE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main_page {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 600px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main_page .gauche {    /* ABOUT THE LEFT SIDE */
    position: relative;
    padding: 30px;
}

.main_page .droite {    /* ABOUT THE RIGHT SIDE */
    position: relative;
    background-color: whitesmoke;
    padding: 35px;
}

/* MODIFICATION OF THE LEFT SIDE PHOTO AND TEXT'S PRESENTATION */

.profileSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.profileSection .pdp {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 45%;
    overflow: hidden;
}

.profileSection .pdp .photo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profileSection .profileText {
    text-align: center;
    margin-top: 20px;
    line-height: 1.3em;
    font-size: 1.3em;
}

.profileSection .profileText span {
    font-weight: 800;
}

/* ABOUT THE BUTTONS IN LEFT SIDE */

.contact,
.competence,
.logiciels,
.savoir,
.passion {
    display: flex;
    justify-content: center;
}

/* MODIFICATIONS OF THE TEXT ABOUT WHAT YOUR ARE CAPABLE */

.savoir,
.passions {
    font-weight: 800;
}

.counterView{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: underline;
}

/* RESPONSIVE PAGE */

@media (max-width: 899px) {
    .main_page {
        grid-template-columns: repeat(1, 1fr);
    }
}